<h1>New Farm</h1>

<%= render 'form', farm: @farm %>

<%= link_to 'Back', farms_path %>

<!-- <div class="farm-layout">
  <div class="draw-template"></div>
</div>

<section class="layout-template">
  <div class="farm-template square" data-template="square"></div>
  <!-- <div class="triangle"></div> -->
<!--   <div class="farm-template circle" data-template="circle"></div>
</section> --> -->