<main id="farm-index" class="container text-center">

<div class="row header-container">
  <div class='col-md-12'>
    <h1>New Farm</h1>
  </div>
</div>

<div class="row content-container">
  <div class="col-md-12">
    <%= render 'form', farm: @farm %>
  </div>
</div>


<%= link_to 'Back', farms_path %>


</main>