<section id="farm-index">

  <div class="container-fluid">
    <div class="row header-container">
      <h1> <%= @farm.name %> Dashboard</h1>
    </div>
  <div>
    <%= render "watermodal" %>
  </div>
    <!-- Tab panes -->
  <div class="content-container">
      <%= render partial: "dashboard", locals: {farm: @farm} %>
  </div>
      <!-- <div role="tabpanel" class="tab-pane" id="farm2">This is profile</div> -->
  </div>
</section>