<main id="farm-index" class="container text-center">

<div class="row header-container">
  <div class='col-md-12'>
<h1>Edit Sub Farm</h1>
  </div>
</div>

<div class="row content-container">
  <div class="col-md-12">

<%= render 'form', sub_farm: @sub_farm %>

  </div>
</div>


</main>