<main class="text-center">
<h1>New Sub Farm</h1>

<%= render 'form', sub_farm: [@farm, @sub_farm]%>

<%= link_to 'Back', farm_sub_farms_path %>
</main>

<!-- <input type="" name="x">
<input type="" name="y">
<input type="" name="w">
<input type="" name="h">

<div class="farm-layout" ondragover="allowDrop(event)">
  <div class="draw-template"></div>
</div>


<section class="layout-template">
  <div class="farm-template square" data-template="square"></div>
  <!-- <div class="triangle"></div> -->
<!--   <div class="farm-template circle" data-template="circle"></div>
</section> --> -->