<div role="tabpanel" class="tab-pane" id="farm<%= farm.id %>">
  <div class="row">
    <div class="col-sm-8">
      <div class="col-md-12" id="<%= farm.id %>-timeline-container" class="farm-timeline">
      </div>
      <div class="col-sm-12" id="actions-container">
        <h3>Actions</h3>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default btn-lg water-btn">
            <i class="fa fa-tint" aria-hidden="true"></i><span class="hidden-sm"> Water Farm</span>
          </button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default btn-lg fertilize-btn">
            <i class="fa fa-medkit" aria-hidden="true"></i><span class="hidden-sm"> Fertilize Farm</span>
          </button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default btn-lg chemical-btn">
            <i class="fa fa-flask" aria-hidden="true"></i><span class="hidden-sm"> Apply Chemicals</span>
          </button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default btn-lg miscellaneous-btn">
            <i class="fa fa-flask" aria-hidden="true"></i><span class="hidden-sm"> Miscellaneous</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-md-12" id="notifications-container">
        <div class="panel panel-warning">
          <div class="panel-heading">Notifications</div>
          <div class="panel-body">
            <p><a href="#">High probability of Disease 0-MK!</a></p>
            <p><a href="#">Lots of raining coming in 4 days!</a></p>
            <p><a href="#">High probability of Disease 0-MK!</a></p>
            <p><a href="#">Lots of raining coming in 4 days!</a></p>
            <p><a href="#">High probability of Disease 0-MK!</a></p>
            <p><a href="#">Lots of raining coming in 4 days!</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-12 farm-render-container">
        <h3>3D Render</h3>
        <canvas class="farmPlot"></canvas>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    createTimeline($("#<%= farm.id %>-timeline-container"));
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $($("#<%= farm.id %>-timeline-container")).highcharts().reflow();
    });
  });
</script>