<div class="container-fluid">
  <%= render "watermodal" %>

  <!-- Tab list -->
  <ul class="nav nav-tabs" role="tablist">
    <%= render partial: "users/tablist", collection: @user.farms, as: :farm %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <%= render partial: "users/dashboard", collection: @user.farms, as: :farm %>
    <!-- <div role="tabpanel" class="tab-pane" id="farm2">This is profile</div> -->
  </div>
</div>

<script>
  $('.tab-pane').first().addClass('active');
  $('li[role=presentation]').first().addClass('active');
  run_render(document.querySelector('.farmPlot'));
</script>
