<div id="alert-not">
  <h3 id="align-nots">Notifications</h3>
   <table id="alert-table">
    <tr id="alert-date">
    <th>Date</th>
    </tr>
    <tr id="alert-rain">
    <th>Rain</th>
    </tr>
    <tr id="alert-wind">
    <th>Wind</th>
    </tr>
   </table>
 </div>







