$(function () {

  var HIGH_PRECIP_THRESHOLD = 1
  var HIGH_WIND_THRESHOLD = 1
  var FORECAST_DAYS = 3

  function createDateString(forecast_date){

    return  ' on ' + 
            forecast_date.monthname_short 
            + " " + 
            forecast_date.day;
  }

  function constructRainCell(precip){
    if (precip > HIGH_PRECIP_THRESHOLD){
      var rain_warn = "Warning"
      
      return $('<td></td>').text(rain_warn).addClass('warning');
    } else {
      return $('<td></td>');
    }
  }

  function constructWindCell(wind_val){
    if (wind_val > HIGH_PRECIP_THRESHOLD){
       var wind_warn = "Warning"
      
      return $('<td></td>').text(wind_warn).addClass('warning');
    } else {
      return $('<td></td>');
    }
  }

  $.ajax({
    url: "http://api.wunderground.com/api/<%= Rails.application.secrets.wunderground_api_key %>/forecast10day/q/4.944,114.928.json",
    dataType: 'jsonp',
    jsonp: 'callback',
    success: function(datavalue) {

      forecast_array = datavalue.forecast.simpleforecast.forecastday;
      for (var i=0; i < FORECAST_DAYS ; i++) {
        var max_temp = (forecast_array[i].high.celsius);
        var low_temp = (forecast_array[i].low.celsius);
        var average_temp = ((parseInt(max_temp) + parseInt(low_temp)) / 2.0);
        var wind_val = (forecast_array[i].avewind.kph);

        var date_string = createDateString(forecast_array[i].date);

        var precip = (forecast_array[i].qpf_allday.mm);

        var date_value = 
            forecast_array[i].date.monthname_short 
            + " " + 
            forecast_array[i].date.day;
  
        var date_cell = $('<td></td>').text(date_value);
        $('#alert-date').append(date_cell);

        var rain_cell = constructRainCell(precip);
        $('#alert-rain').append(rain_cell);

        var wind_cell = constructWindCell(wind_val);
          $('#alert-wind').append(wind_cell);
  
      }
    }
  });
});