<div>
 <h1 id="weather-header">10-Day Forecast</h1>
</div>

<div id="table-two">
  <table id="table-value">
  <tr id="day-data">
    <th>Date</th>
  </tr>
  <tr id="tmax-data">
    <th>Tmax(°C)</th>
  </tr>
  <tr id="tmin-data">
    <th>Tmin(°C)</th>
  </tr>
  <tr id="precip-data">
    <th>Rainfall(mm)</th>
  </tr>
<!--   <button id="request-button">Request</button> -->
  </table>
</div>

<div id="forecast">
</div>
<div id="chart-weather">
  <div class="container-weather" id="weather-chart" style="min-width: 310px; height: 500px; margin-left: 50px; margin-right: 50px;"></div>
</div>
<footer>
<div>
<a>Terms&Conditions</a>
<a>@Amber</a>
</div>
</footer>

<br>

