@import "bootstrap-sprockets";
@import "bootstrap";

$dark-blue: #69d2e7;
$medium-blue: #a7dbdb;
$green-grey: #e0e4cc;
$light-orange: #f38630;
$dark-orange: #fa6900;

* {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

body {
  /*background-color: #e6e6e6;*/
  /*background: linear-gradient(left, );*/
/*  background-image: image-url("bg-colors.jpeg");
  background-size: cover;
  opacity: 0.8;*/
}

.tab-content {
  /*background: none;*/
}

#actions-container .btn {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

#actions-container .btn:focus {
  outline: none;
}

#actions-container .btn:hover {
  background-color: red;
}

#actions-container .chemical-btn {
  background-color: black;
  /*background-color: $medium-blue;*/
  color: white;
}

#actions-container .fertilize-btn {
  /*background-color: #9e2062;*/
  background-color: $dark-orange;
  color: white;
}

#actions-container .miscellaneous-btn {
  /*background-color: #d6e025;*/
  background-color: $light-orange;
  color: white;
}

#actions-container .water-btn {
  /*background-color: #5bc0de;*/
  background-color: $dark-blue;
  color: white;
}

#actionsModal .ajax-loader {
  display: none;
}

#actionsModal .datetime-select {
  width: 33%;
  float: left;
}

#actionsModal .Apply-Chemicals {
  background-color: black;
  color: white;
}

#actionsModal .Fertilize-Farm {
  background-color: $dark-orange;
}

#actionsModal .Water-Crops {
  background-color: $dark-blue;
}

#custom-navbar {
  background-color: white;
  border-bottom: 2px solid $dark-orange;
  height: 75px;
  /*opacity: 0.6;*/
}

#custom-navbar a.navbar-brand {
  color: red;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 43px;
  vertical-align: middle;
}

#custom-navbar .logo {
  width: 75px;
  height: 75px;
  margin-top: -5px;
  margin-right: -20px;
}

#custom-navbar .navbar-nav a {
  /*color: #007a55;*/
  color: $dark-orange;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 43px;
  transition: all 0.5s;
  vertical-align: middle;
}

#custom-navbar .navbar-nav a:hover {
  color: red;
}

#notifications-container .panel {
  border-color: #ec910a;
  /*border-color: black;*/
  border-radius: 0px;
}

#notifications-container .panel > .panel-heading {
  background-color: #fbb143;
  /*background-color: black;*/
  color: white;
  font-weight: 400;
}

.tab-pane {
  padding-top: 10px;
}

#timeline-container, #farmPlot {
  /*border: 1px solid black;*/
}

/*// canvas {
//   width: 100%;
//   height: auto;
// }
*/