// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper { 
  // width: 960px; 
  margin: 0 auto; 
  padding: 48px 0 72px; 
}

#tubular-container {
  top: 0px;
  left: 0px;
}

.homepage-article {
  color: white;
  margin-top: 200px;
}